.menuItem {
    padding:10px;
    display: flex;
    align-items: center ;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    height:100%
}

.menuTitle {
    user-select: none;
}

.icon {
    width:20px;
    padding:10px;
    display: flex;
    align-items: center;
}

.menuItem:hover {
    background: #777;
    color:black
}

.selected {
    background:white ;
    color:black
}
