    .promptDialog footer,.promptDialog header,.promptDialog main {
        padding: 10px 0px;
    }

    .promptDialog footer {
        width:100%;
        display: flex;
        justify-content: space-around;
    }
    .promptDialog header {
        width: 100%;
        justify-content: center;
        text-align: center;
    }

.promptDialog  {
    padding: 40px;
}