.textInput {
  height: 40px;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  color: #111;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #777;
  width: 100%;
}

.inputContainer {
  width: 100%;
}
