.dropDownMenu {
    height:100%;
    position: relative;
    cursor: pointer;
}

.content {
    height:100%;
    display: flex;
    align-items: center;
}

.dropDownMenu:hover {
    background: blue;
}

.menuItems {
    margin:0;
    padding:20;
    max-height:0;
    overflow: hidden;
    transition: all 1s linear;
    position: absolute;
    left:0;
    top:100%;
    min-width: 200px;
    max-height: 0px;
}

.menuItems.right {
    left:auto;
    right:0;
}

.open.menuItems {
    max-height: 100vh
}