.sunData {
    font-size: 18px;
    display:flex;
    align-items: center;
    flex-wrap: wrap;
}
.sunIcon {
    width:30px;
    height:30px;
}

.daylight {
    width:100%;
    
}
.sunset {
    display:flex;
    flex-wrap: wrap;
}



.text {
    padding-left:10px;
    font-weight:bold
}