.windIcon {
    font-weight: bold;
    position: relative;

}

.windIcon text {
    text-anchor: middle;
    font-size:2.5px;
    font-weight: bold;
}

.arrow {
    transform-origin: center;
}