.parent {
    position:relative;
    border:1px solid black;


}
.slideInMenu {
    z-index:10000;
    top: 0;
    position: absolute;
    pointer-events: none;
}

.menuContainer {
    transition: all 1000ms;
    height:100vh;
    background: white;
    pointer-events: all;
    margin:0;
}

.slideInMenu.left{
    left:0;
}

.slideInMenu.right{
    right:0;
    overflow: hidden;
}

.slideInMenu.left .menuContainer {
    transform:translateX(-100%);
}

.slideInMenu.left.open .menuContainer{
    transform:translateX(0%)
}

.slideInMenu.right .menuContainer {
    transform:translateX(100%);
}

.slideInMenu.right.open .menuContainer{
    transform:translateX(0%)
}