.listItem {
    padding:10px;
    border-bottom: 1px solid #CCC;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listItem.clickable:hover {
    background: #ccc;
}


.clickable {
    cursor: pointer;
}

.actionIcon {
    padding: 0px 4px;
    cursor: pointer;
}

.title {
    font-weight:bold;
}
.subtitle {
    font-style: italic;
}