.listItem {
    padding:10px;
    border-bottom: 1px solid #CCC;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.listItem.clickable:hover {
    background: #ccc;
}


.clickable {
    cursor: pointer;
}

.actionIcon {
    padding: 0px 4px;
    cursor: pointer;
}

.title {
    width:100%;
    font-style: italic;
}