.modalBackdrop {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: black;
    opacity: .7;
    z-index:-1;
}

.modalWindow {
    padding:20px;
    background:white;
    border-radius: 5px;

}
.modal {
    height:100vh;
    width:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
}